<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.rekisoft.android.editmail">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:supportsRtl="true" tools:ignore="UnusedAttribute,AndroidLintAllowBackup" />
</manifest>